body{
    color: aliceblue;
    background-color: brown;
    text-align: centre;
    font-size: 25px;
    padding: 20px;
}


*{ margin:0
   padding:0

}


P{
    color: aqua;
    background-color: beige;
}
 div{ 
    height: 500px
    width: 300px
    background: 20px;
    border:2 px
    padding
    margin-left;50px;
}